.btn {
    padding: 7px 15px;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: .3s;
  }

  .signup {
    text-decoration: none;
    color: white;
    margin-left: 360px;
  }

  .signup1 {
    text-decoration: none;
    margin-left: 360px;
    border: 1px solid  aliceblue;
    padding: 8px 7px;
   
    border-radius: 5px;
    color: blueviolet;
  }

  .signup2 {
    text-decoration: none;
  }

  .head-container {
    padding: 200px 100px;
  }

  .head-container2 {
    padding: 300px 200px ;
  }

  .head-container3 {
    padding: 200px 300px;
  
  }

  .bg {
    background-color: aliceblue;
    height: 60rem;
  }

  .bg2 {
    background-color: cornsilk;
    border-radius: 50px;
  }

  /* .bg3 {
    background-color: aliceblue;
  } */

  .home {
    margin-left: 40px;
  }

  .card {
    width: 250px;
    
  }

  .card1 {
    padding: 150px;
    
  }

  .card-body {
   padding: 50px;
  }

  .text {
    font-size: 45px;
    display: flex;
    align-items: center;
    color: chocolate;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .font {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }


.pay {
  margin-left: 40px;
}
  
.home-text{
  width:500px;
  margin: 20px;
  margin-top: 15rem;
  margin-left: 100px;
  
}

.home-text h1{
  font-size: 7rem;
  line-height: 100px;
  color:#22252e;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0px;
}

.home-text p{
  font-size: 1rem;
  color:#777474;
}

.home-text span{
  color: #F14D5D;
  text-decoration: underline;
}

.main-login{
  width:120px;
  height:40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

.background {
  background-color: aliceblue;
  height: 100vh;
  background-image: url(/public/image/bgdesign.png);
}

.card3 {
  width: 30%;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 50px;
  border: 2px solid grey;
  height: 50vh;
}